/* Thanks to Ypnose for sharing. */
/* Check out his website: http://ywstd.fr/ */
@font-face {
	font-family: 'quicksand';
	src: url('/files/fontfiles/Quicksand-Bold-webfont.eot');
	src: url('/files/fontfiles/Quicksand-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/files/fontfiles/Quicksand-Bold-webfont.woff2') format('woff2'),
	url('/files/fontfiles/Quicksand-Bold-webfont.woff') format('woff'),
	url('/files/fontfiles/Quicksand-Bold-webfont.ttf') format('truetype'),
	url('/files/fontfiles/Quicksand-Bold-webfont.svg#quicksandbold') format('svg');
	font-weight: bold;
}
@font-face {
	font-family: 'quicksand';
	src: url('/files/fontfiles/Quicksand-BoldItalic-webfont.eot');
	src: url('/files/fontfiles/Quicksand-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('/files/fontfiles/Quicksand-BoldItalic-webfont.woff2') format('woff2'),
	url('/files/fontfiles/Quicksand-BoldItalic-webfont.woff') format('woff'),
	url('/files/fontfiles/Quicksand-BoldItalic-webfont.ttf') format('truetype'),
	url('/files/fontfiles/Quicksand-BoldItalic-webfont.svg#quicksandbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'quicksand';
	src: url('/files/fontfiles/Quicksand-Italic-webfont.eot');
	src: url('/files/fontfiles/Quicksand-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('/files/fontfiles/Quicksand-Italic-webfont.woff2') format('woff2'),
	url('/files/fontfiles/Quicksand-Italic-webfont.woff') format('woff'),
	url('/files/fontfiles/Quicksand-Italic-webfont.ttf') format('truetype'),
	url('/files/fontfiles/Quicksand-Italic-webfont.svg#quicksanditalic') format('svg');
	font-style: italic;
}
@font-face {
	font-family: 'quicksand';
	src: url('/files/fontfiles/Quicksand-Regular-webfont.eot');
	src: url('/files/fontfiles/Quicksand-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/files/fontfiles/Quicksand-Regular-webfont.woff2') format('woff2'),
	url('/files/fontfiles/Quicksand-Regular-webfont.woff') format('woff'),
	url('/files/fontfiles/Quicksand-Regular-webfont.ttf') format('truetype'),
	url('/files/fontfiles/Quicksand-Regular-webfont.svg#quicksandregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'inconsolata';
	src: url('/files/fontfiles/inconsolata-webfont.eot');
	src: url('/files/fontfiles/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
	url('/files/fontfiles/inconsolata-webfont.woff') format('woff'),
	url('/files/fontfiles/inconsolata-webfont.ttf') format('truetype'),
	url('/files/fontfiles/inconsolata-webfont.svg#webfont') format('svg');
}

html {
	color:black;
	background:whitesmoke;
}
body {
	font-family:quicksand, sans-serif;
	font-style:normal;
	font-weight:normal;
}

/* p {
	text-align:justify;
} */
h1 {
	font-size:22px;
}
h2 {
	font-size:18px;
	padding-left:16px;
}
h3 {
	font-size:16px;
}
h4 {
	font-size:14px;
	margin-bottom:0;
	text-decoration:underline;
}
h5 {
	margin:22px auto 16px;
	border-bottom:1px dotted black;
}
/* a,a:visited {
	color:#404040;
	text-shadow:1px 1px 0 #FFF;
}
a:hover {
	color:#0D0D0D;
} */
a.thisPage {
	text-decoration:underline;
}
nav a {
  letter-spacing:1px;
}
nav a:hover,nav a:visited:hover {
	text-decoration:underline;
}
nav,nav a,nav a:visited {
	color:black;
	font-family:inconsolata,monospace;
	font-size:18px;
	font-style:normal;
	text-decoration:none;
}
nav dd, nav dd a {
	font-size:12px;
	margin:0 0 0 5px;
}
article {
	line-height:140%;
	min-width:20em;
	max-width:40em;
}
/* article {
	text-align:justify;
} */
article ul {
	padding-left:50px;
	margin:-4px 0 -2px;
}
article ul li {
	padding:2px 4px;
}
pre,p code {
	border:1px solid grey;
	background-color:white;
}
p code {
	padding:1px 4px;
	white-space:nowrap;
}
pre {
	padding:6px 12px;
	overflow-x:auto;
	max-width:95%;
	margin:14px auto;
}
blockquote {
	border-left:6px solid #808080;
	margin-left:30px;
}
.centered {
	text-align:center;
}
.boldy {
	color:#000;
	font-weight:bold;
}

/* special elements */
#h0 {
	border-bottom:3px solid black;
	max-width:99%;
  font-size:100px;
	margin:0 auto;
}
#h0 a {
	color:black;
	text-decoration:none;
	margin:0;
	line-height:90%;
	white-space:pre;
	word-wrap:normal;
	display:block;
}
#gitlink {
	border-bottom:dotted black;
	padding:0 0 20px 0;
	font-size:13px;
	font-style:italic;
	}
#gitlink a {
	color:black;
	font-family:inconsolata,monospace;
	font-size:13px;
	word-wrap:break-word;
	text-decoration:none;
}
code,#quote {
	font-family:inconsolata, monospace;
}
#quote {
	padding:0 0 0 10px;
	margin:10px;
	border-left:1px dotted #808080;
}

/* entangled elements */
body,h5,p code {
	font-size:14px;
}
h3,blockquote {
	padding-left:12px;
}

/* structure */
html,body,nav {
	height:100%;
}
nav {
	position:absolute;
}
#page {
	background:white;
	min-height:100vh;
	max-width:1000px;
	margin:30px auto;
	padding:30px;
	border:2px solid #808080;
}
#con {
	position:relative;
	padding:30px;
}
#paper {
	max-width:600px;
	margin:20px 0 0 300px;
	z-index:9999;
}

/* responsiveness */
@media screen and (max-width:1140px) {
	#page {
		margin:10px auto;
	}
}
@media screen and (max-width:700px) {
	nav {
		position:static;
		height:auto;
	}
	nav dl {
		display:inline-table;
		margin:10px:
	}
	#page {
		margin:10px auto;
	}
	#paper {
		margin:40px auto;
	}
}
@media screen and (max-width:500px) {
	#h0 {
	  font-size:70px;
	}
}
@media screen and (max-width:400px) {
	#h0 {
		font-size:50px;
	}
	#page {
		padding:10px;
	}
	#con {
		padding:0;
	}
}
