DirectoryIndex index.html

RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} !=test.intraaktion.de
RewriteRule (.*) https://test.intraaktion.de/$1 [R=301,L]

Redirect 302 /index.html /00_home/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /00_home/ [R=302]

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

#Prevent directory listings
Options SymLinksIfOwnerMatch -Indexes

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css

<IfModule mod_expires.c>
ExpiresActive on
ExpiresDefault "access plus 1 weeks"
# CSS
ExpiresByType text/css "access plus 1 weeks"
# HTML
ExpiresByType text/html "access plus 0 seconds"
# JavaScript
ExpiresByType application/javascript "access plus 1 weeks"
</IfModule>
